@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;900&family=Supermercado+One&family=Teko:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway&family=Roboto:wght@100;900&family=Supermercado+One&family=Teko:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@300&family=Raleway&family=Roboto:wght@100;900&family=Supermercado+One&family=Teko:wght@500&display=swap');

html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }

body{
    width: 100%;
    height: 100%;
    cursor: url("img/cursor\ \(3\).cur"), auto;
} 
 
#body_1{
    overflow: hidden;
    margin: 0px;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}

#body_2{
    overflow: hidden;
    margin: 0px;
    height: 4000px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}

::-webkit-scrollbar {
    width: 7px;
  }

::-webkit-scrollbar-track {
    background: black; 
  }

::-webkit-scrollbar-thumb {
    background: rgb(37, 34, 51); 
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(45, 38, 80); 
  }
 

#start{
    position: absolute;
    overflow: hidden;
    margin: 0px;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}


#galaxy{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

#over_effect{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.2;
}

#over_black{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
}

#over_black.action{
    animation-name: opacity;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes opacity {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

#top_part{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    animation-name: width;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#bottom_part{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    animation-name: width;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes width {
    0%{}
    100%{height: 90px;}
}

#TSS{
    position: absolute;
    opacity: 0;
    width: 360px;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    letter-spacing: 5px;
    color: aliceblue;
    animation-name: opacity_1;
    animation-delay: 1s;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

@keyframes opacity_1 {
    0%{}
    100%{opacity: 1; letter-spacing: 10px; width: 450px;}
}

#TSS.after{
    opacity: 1;
    width: 450px;
    letter-spacing: 10px;
    animation-name: opacity_2;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transition: 4s;
}

@keyframes opacity_2 {
    0%{opacity: 1;}
    100%{opacity: 0;}
}


#EX{
    position: absolute;
    opacity: 0;
    width: 180px;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    letter-spacing: 5px;
    color: aliceblue;
    animation-delay: 12s;
    animation-name: opacity_3;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes opacity_3 {
    0%{opacity: 0;}
    100%{opacity: 1; letter-spacing: 7px; width: 188px;}
}

#enter{
    position: absolute;
    opacity: 0;
    right: 10px;
    top: 100px;
    width: 50px;
    height: 70px;
    cursor: pointer;
    transition: 1s;
    animation-delay: 17s;
    animation-name: opacity_4;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes opacity_4 {
    0%{opacity: 0;}
    50%{opacity: 0.9;}
    100%{opacity: 0;}
}

#enter_1{
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: rgb(15, 15, 15);
    color: aliceblue;
    border-radius: 5px 5px 0 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
}

#enter_2{
    position: absolute;
    right: 0;
    width: 35px;
    height: 100%;
    background-color: rgb(15, 15, 15);
    border-radius: 5px 5px 5px 5px;
}





/*solar system*/


#end{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#blacked{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

#blacked_two{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

#blacked.zero{
    background-color: black;
}


#jupiter{
    position: absolute;
    opacity: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 600px;
    margin-left: -300px;
}

#saturn{
    position: absolute;
    opacity: 0;
    top: 50%;
    transform: translate(0, -80%);
    width: 800px;
    margin-left: -400px;
}

#venus{
    position: absolute;
    opacity: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 600px;
    margin-left: -280px;
}

#sun{
    position: absolute;
    opacity: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 900px;
    margin-left: -450px;
}

#uranus{
    position: absolute;
    opacity: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 900px;
    margin-left: -430px;
}

#neptune{
    position: absolute;
    opacity: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 860px;
    margin-left: -430px;
}

#earth{
    position: absolute;
    opacity: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 800px;
    margin-left: -400px;
}


#mercury{
    position: absolute;
    opacity: 0;
    top: 50%;
    transform: translate(0, -51%);
    width: 525px;
    margin-left: -262.5px;
}

#mars, #saturn{
    position: absolute;
    opacity: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 1000px;
    margin-left: -500px;
}

#saturn_bg{
    position: absolute;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

#uranus.one{
    animation-name: opacity;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#neptune.two{
    animation-name: opacity;
    animation-duration: 1.5s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

#venus.three{
    animation-name: opacity;
    animation-duration: 1.5s;
    animation-delay: 9s;
    animation-fill-mode: forwards;
}

#mars.four{
    animation-name: opacity;
    animation-duration: 1.5s;
    animation-delay: 13s;
    animation-fill-mode: forwards;
}

#mercury.five{
    animation-name: opacity;
    animation-duration: 1.5s;
    animation-delay: 17s;
    animation-fill-mode: forwards;
}

#saturn.six{
    animation-name: opacity;
    animation-duration: 1.5s;
    animation-delay: 21s;
    animation-fill-mode: forwards;
}

#saturn_bg.six_half{
    animation-name: opacity;
    animation-duration: 0.5s;
    animation-delay: 25s;
    animation-fill-mode: forwards;
}

#jupiter.seven{
    animation-name: opacity;
    animation-duration: 1.5s;
    animation-delay: 25s;
    animation-fill-mode: forwards;
}

#earth.eight{
    animation-name: opacity;
    animation-duration: 1.5s;
    animation-delay: 29s;
    animation-fill-mode: forwards;
}

#sun.nine{
    animation-name: opacity;
    animation-duration: 2.5s;
    animation-delay: 33s;
    animation-fill-mode: forwards;
}

#blacked_two.ten{
    background-color: black;
}

@keyframes opacity {
    0%{opacity: 0;}
    100%{opacity: 1;}
}


#t_1, #t_3, #t_5, #t_7{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    opacity: 0;
    top: 50%;
    margin-top: -15px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
    color: aliceblue;
}

#t_2, #t_4, #t_6, #t_8{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    opacity: 0;
    top: 50%;
    margin-top: -15px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 10px;
    color: aliceblue;
    transform: translateY(-50%);
}

#t_9{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    opacity: 0;
    top: 50%;
    margin-top: -15px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 10px;
    font-weight: 600;
    color: black;
    transform: translateY(-50%);
}

#t_1.t_one{
    animation-name: one;
    animation-duration: 2.5s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

#t_2.t_two{
    animation-name: two;
    animation-duration: 2.5s;
    animation-delay: 6.5s;
    animation-fill-mode: forwards;
}

#t_3.t_three{
    animation-name: one;
    animation-duration: 2.5s;
    animation-delay: 10.5s;
    animation-fill-mode: forwards;
}

#t_4.t_four{
    animation-name: two;
    animation-duration: 2.5s;
    animation-delay: 14.5s;
    animation-fill-mode: forwards;
}

#t_5.t_five{
    animation-name: one;
    animation-duration: 2.5s;
    animation-delay: 18.5s;
    animation-fill-mode: forwards;
}

#t_6.t_six{
    animation-name: two;
    animation-duration: 2.5s;
    animation-delay: 22.5s;
    animation-fill-mode: forwards;
}

#t_7.t_seven{
    animation-name: one;
    animation-duration: 2.5s;
    animation-delay: 26.5s;
    animation-fill-mode: forwards;
}

#t_8.t_eight{
    animation-name: two;
    animation-duration: 2.5s;
    animation-delay: 30.5s;
    animation-fill-mode: forwards;
}

#t_9.t_nine{
    letter-spacing: 10px;
    animation-name: two;
    animation-duration: 3.5s;
    animation-delay: 34.5s;
    animation-fill-mode: forwards;
}


@keyframes one {
    0%{opacity: 0; letter-spacing: 5px;}
    100%{opacity: 1; letter-spacing: 10px;}
}

@keyframes two {
    0%{opacity: 0; letter-spacing: 10px;}
    100%{opacity: 1; letter-spacing: 5px;}
}

#over_transition_r{
    position: absolute;
    opacity: 0;
    width: 100%;
    top: 50%;
    margin-top: 40px;
    border-radius: 5px;
    height: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: black;
    letter-spacing: 15px;
    text-align: center;
    animation-name: opacity_n;
    animation-duration: 3s;
    animation-delay: 75s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes opacity_n {
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}

#blacked_over{
    position: absolute;
    background-color: black;
    animation-name: display;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes display {
    0%{opacity: 1; width: 100%; height: 100%;}
    50%{opacity: 0; width: 100%; height: 100%;}
    100%{opacity: 0; width: 0; height: 0;}
}


/*index_two*/

#black_hole_div{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

#black_hole{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0px;
}

#black_hole_text{
    position: absolute;
    opacity: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 100%;
    letter-spacing: 15px;
    font-size: 30px;
    color: aliceblue;
    font-weight: bold;
    line-height: 100vh;
    animation-name: one_h;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes one_h {
    0%{opacity: 0; letter-spacing: 7px;}
    100%{opacity: 1; letter-spacing: 9px;}
}

#black_hole_shadow{
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), black);
}

#long_galaxy_div{
    position: absolute;
    top: 100vh;
    width: 100%;
    height: 3000px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#long_galaxy{
    position: absolute;
    top: 0;
    width: 110%;
    height: 100%;
    object-fit: cover;
    image-rendering: pixelated;
}

#long_galaxy_shadow{
    position: absolute;
    width: 100%;
    height: 250px;
    top: 0px;
    background-image: linear-gradient(to top, rgba(255,0,0,0), black);
}

#long_galaxy_shadow_2{
    position: absolute;
    width: 100%;
    height: 250px;
    bottom: 0px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), black);
}

#section_1{
    position: absolute;
    top: 0;
    width: 100%;
    height: 1000px;
}

#section_2{
    position: absolute;
    top: 800px;
    width: 100%;
    height: 1000px;
}

h1{
    position: absolute;
    top: 280px;
    left: 140px;
    height: 10px;
    width: 10px;
    opacity: 0;
    transition: 1s;
}

h2{
    position: absolute;
    opacity: 0;
    top: 300px;
    right: 130px;
    height: 120px;
    width: 300px;
    transition: 1s;
}

h3{
    position: absolute;
    opacity: 0;
    top: 500px;
    left: 110px;
    height: 120px;
    width: 300px;
    transition: 1s;
}

h4{
    position: absolute;
    opacity: 0;
    top: 700px;
    right: 130px;
    height: 120px;
    width: 300px;
    transition: 1s;
}

h5{
    position: absolute;
    opacity: 0;
    top: 900px;
    left: 130px;
    height: 120px;
    width: 300px;
    transition: 1s;
}

#planets_one{
    position: absolute;
    color: aliceblue;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

#rocket{
    position: absolute;
    width: 60px;
    height: 100px;
    image-rendering: pixelated;
    transform: rotate(110deg);
}

p{
    position: absolute;
    top: 275px;
    left: 150px;
    width: 50px;
    height: 50px;
    transform: translateX(0px);
    transition: 1s;
}

p[data-scroll="in"]{
    transform: translateX(15px);
}

h1[data-scroll="in"]{
    opacity: 1;
}
h2[data-scroll="in"]{
    animation-name: animation_1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
h3[data-scroll="in"]{
    animation-name: animation_2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
h4[data-scroll="in"]{
    animation-name: animation_1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
h5[data-scroll="in"]{
    animation-name: animation_2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes animation_1 {
    0%{opacity: 0; transform: translateX(0);}
    100%{opacity: 1; transform: translateX(-10px);}
}

@keyframes animation_2 {
    0%{opacity: 0; transform: translateX(0);}
    100%{opacity: 1; transform: translateX(10px);}
}



/*design*/

#neptune_color{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(77, 77, 172);
    border-radius: 10px;
}

#uranus_color{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(146, 146, 241);
    border-radius: 10px;
}

#saturn_color{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(177, 157, 70);
    border-radius: 10px;
}

#jupiter_color{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(211, 167, 138);
    border-radius: 10px;
}

#mars_color{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(182, 94, 35);
    border-radius: 10px;
}

#earth_color{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(35, 140, 182);
    border-radius: 10px;
}

#venus_color{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(226, 170, 49);
    border-radius: 10px;
}

#mercury_color{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(182, 162, 119);
    border-radius: 10px;
}

#all_color{
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 295px;
    height: 115px;
    background-color: black;
    border-radius: 10px;
}

#apollo_ship{
    position: absolute;
    width: 200px;
    height: 170px;
    top: 1060px;
    animation-name: rotating_shaft;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes rotating_shaft {
    0%{transform: rotate(-5deg);}
    50%{transform: rotate(5deg);}
    100%{transform: rotate(-5deg);}
}

#neptune_text{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
    top: 22.5px;
    left: 20px;
    font-size: 30px;
    color: aliceblue;
    font-weight: bold;
}

#neptune_png{
    position: absolute;
    height: 55px;
    width: 72.5px;
    right: 20px;
    top: 7px;
}

#neptune_text_l, #neptune_text_le, #neptune_text_lea, #neptune_text_lear, #neptune_text_learn, #neptune_text_learnm, #neptune_text_learnmo, #neptune_text_learnmor{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
    bottom: 20px;
    left: 20px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    width: 265px;
    height: 30px;
    color: black;
    background-color: aliceblue;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
}


#neptune_text_l:hover{
    background-color: rgb(139, 139, 243);
}

#neptune_text_le:hover{
    background-color: rgb(177, 177, 255);
}

#neptune_text_lea:hover{
    background-color: rgb(240, 217, 114);
}

#neptune_text_lear:hover{
    background-color: rgb(235, 192, 164);
}

#neptune_text_learn:hover{
    background-color: rgb(236, 156, 103);
}

#neptune_text_learnm:hover{
    background-color: rgb(146, 217, 245);
}

#neptune_text_learnmo:hover{
    background-color: rgb(247, 198, 93);
}

#neptune_text_learnmor:hover{
    background-color: rgb(212, 188, 136);
}




/*slider*/

.slider{
    position: absolute;
    top: 2002.5px;
    width: 98%;
    height: 500px;
    overflow: hidden;
    border-radius: 15px;
}

#slider_bg{
    position: absolute;
    top: 2000px;
    width: 98.3%;
    height: 505px;
    background-color: rgb(212, 188, 136);
    border-radius: 15px;
}
.slides{
    width: 500%;
    margin-left: 0px;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}


.navigation-manual{
    position: absolute;
    width: 100%;
    height: 500px;
    top: 460px;
    margin: auto;
    display: flex;
    justify-content: center;

}

.manual-btn{
    border: 1px solid white;
    height: 0px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    cursor: url("img/cursor\ \(3\).cur"), auto;
}

.manual-btn:not(:last-child){
    margin-right: 40px;

}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

#radio5:checked ~ .first{
    margin-left: -80%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}


#radio1:checked ~ .navigation-auto .auto-btn1{
    background: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: white;
}

#radio5:checked ~ .navigation-auto .auto-btn5{
    background: white;
}


#img_1_1{
    border-radius: 5px;
    width: 100%;
    height: 100vh;
    margin-top: -150px;
    object-fit: cover;
}
#img_1_2{
    border-radius: 5px;
    width: 100%;
    height: 100vh;
    margin-top: -150px;
    object-fit: cover;
}
#img_1_3{
    border-radius: 5px;
    width: 100%;
    height: 100vh;
    margin-top: -150px;
    object-fit: cover;
}
#img_1_4{
    border-radius: 5px;
    width: 100%;
    height: 100vh;
    margin-top: -150px;
    object-fit: cover;
}



#text_1{
    position: absolute;
    width: 20%;
    height: 100px;
    top: -60px;
    left: 90px;
    text-align: right;
    font-size: 50px;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    color: aliceblue;
}

#text_1_1{
    position: absolute;
    width: 40%;
    height: 100px;
    top: 100px;
}

#text_1_2 {
    position: absolute;
    left: 90px;
    text-align: left;
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    color: aliceblue;
}



#text_2{
    position: absolute;
    height: 100px;
    top: -60px;
    left: 90px;
    text-align: right;
    font-size: 50px;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    color: aliceblue;
}

#text_2_1{
    position: absolute;
    width: 100%;
    height: 100px;
    top: 100px;
}

#text_2_2 {
    position: absolute;
    left: 90px;
    text-align: left;
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    color: aliceblue;
}



#text_3{
    position: absolute;
    width: 100%;
    left: 85px;
    height: 100px;
    top: -60px;
    text-align: left;
    font-size: 50px;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    color: aliceblue;
}

#text_3_1{
    position: absolute;
    width: 50%;
    height: 100px;
    top: 100px;
}

#text_3_2 {
    position: absolute;
    left: 85px;
    text-align: left;
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    color: aliceblue;
}



#text_4{
    position: absolute;
    width: 100%;
    left: 85px;
    height: 100px;
    top: -60px;
    text-align: left;
    font-size: 50px;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    color: aliceblue;
}

#text_4_1{
    position: absolute;
    width: 50%;
    height: 100px;
    top: 100px;
}

#text_4_2 {
    position: absolute;
    left: 85px;
    text-align: left;
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    color: aliceblue;
}

h6{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(212, 188, 136);
    text-align: center;
    color: aliceblue;
    font-family: 'Kanit', sans-serif;
    line-height: 500px;
    font-size: 30px;
}
@keyframes display_2 {
    0%{opacity: 1; width: 100%; height: 100%;}
    40%{opacity: 1; width: 100%; height: 100%;}
    60%{opacity: 0; width: 100%; height: 100%;}
    100%{opacity: 0; width: 0; height: 0;}
}

h6[data-scroll="in"]{
    animation-name: display_2;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

#h6{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 500px;
    bottom: 0;
    text-align: center;
    color: aliceblue;
    font-family: 'Kanit', sans-serif;
    line-height: 500px;
    font-size: 70px;
    font-weight: bold;
}

#all_planet{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 500px;
    object-fit: cover;
    transform: translateY(-50%);
}



