@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;900&family=Supermercado+One&family=Teko:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway&family=Roboto:wght@100;900&family=Supermercado+One&family=Teko:wght@500&display=swap');



html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    overflow: hidden;
    margin: 0px;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
 }

#galaxy{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

#over_effect{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.2;
}

#over_black{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
}

#over_black.action{
    animation-name: opacity;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes opacity {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

#top_part{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    animation-name: width;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#bottom_part{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    animation-name: width;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes width {
    0%{}
    100%{height: 90px;}
}

#TSS{
    position: absolute;
    opacity: 0;
    width: 360px;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    letter-spacing: 5px;
    color: aliceblue;
    animation-name: opacity_1;
    animation-delay: 1s;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

@keyframes opacity_1 {
    0%{}
    100%{opacity: 1; letter-spacing: 10px; width: 450px;}
}

#TSS.after{
    opacity: 1;
    width: 450px;
    letter-spacing: 10px;
    animation-name: opacity_2;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transition: 4s;
}

@keyframes opacity_2 {
    0%{opacity: 1;}
    100%{opacity: 0;}
}


#EX{
    position: absolute;
    opacity: 0;
    width: 180px;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    letter-spacing: 5px;
    color: aliceblue;
    animation-delay: 12s;
    animation-name: opacity_3;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes opacity_3 {
    0%{opacity: 0;}
    100%{opacity: 1; letter-spacing: 7px; width: 188px;}
}

#enter{
    position: absolute;
    opacity: 0;
    right: 10px;
    top: 100px;
    width: 50px;
    height: 70px;
    cursor: pointer;
    transition: 1s;
    animation-delay: 17s;
    animation-name: opacity_4;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes opacity_4 {
    0%{opacity: 0;}
    50%{opacity: 0.9;}
    100%{opacity: 0;}
}

#enter_1{
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: rgb(15, 15, 15);
    color: aliceblue;
    border-radius: 5px 5px 0 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
}

#enter_2{
    position: absolute;
    right: 0;
    width: 35px;
    height: 100%;
    background-color: rgb(15, 15, 15);
    border-radius: 5px 5px 5px 5px;
}

@keyframes opacity_5 {
    0%{opacity: 0.7;}
    50%{opacity: 0;}
    100%{opacity: 0.7;}
}





#uranus{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

#uranus_t{
    position: absolute;
    opacity: 0;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    font-size: 30px;
    letter-spacing: 10px;
    font-family: 'Roboto', sans-serif;
    color: black;
    animation-name: opacity_11;
    animation-delay: 1s;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

@keyframes opacity_11 {
    0%{}
    30%{opacity: 1;}
    100%{letter-spacing: 5px; opacity: 1;}
}

@keyframes opacity_22 {
    0%{}
    30%{opacity: 1;}
    100%{letter-spacing: 10px; opacity: 1;}
}

@keyframes opacity {
    0%{opacity: 0;}
    100%{opacity: 1;}
}





#neptune{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    animation-duration: 10s;
    animation-delay: 10s;
    animation-name: opacity_f;
    animation-fill-mode: forwards;
}

@keyframes opacity_f {
    0%{opacity: 0;}
    30%{opacity: 1;}
    100%{opacity: 1; transform: scale(1);}
}


#neptune_t{
    position: absolute;
    opacity: 0;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    font-size: 30px;
    letter-spacing: 5px;
    font-family: 'Roboto', sans-serif;
    color: black;
    animation-delay: 13s;
    animation-name: opacity_22;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}





#venus{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation-duration: 3s;
    animation-delay: 18s;
    animation-name: opacity;
    animation-fill-mode: forwards;
}

#venus_t{
    position: absolute;
    opacity: 0;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    font-size: 30px;
    letter-spacing: 10px;
    font-family: 'Roboto', sans-serif;
    color: black;
    animation-name: opacity_11;
    animation-delay: 20s;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}





#mars{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation-duration: 3s;
    animation-delay: 25s;
    animation-name: opacity;
    animation-fill-mode: forwards;
}

#mars_t{
    position: absolute;
    opacity: 0;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    font-size: 30px;
    letter-spacing: 5px;
    font-family: 'Roboto', sans-serif;
    color: black;
    animation-name: opacity_22;
    animation-delay: 27s;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}





#mercury{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation-duration: 3s;
    animation-delay: 31s;
    animation-name: opacity;
    animation-fill-mode: forwards;
}

#mercury_t{
    position: absolute;
    opacity: 0;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    font-size: 30px;
    letter-spacing: 10px;
    font-family: 'Roboto', sans-serif;
    color: black;
    animation-name: opacity_11;
    animation-delay: 33s;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}





#saturn{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation-duration: 3s;
    animation-delay: 38s;
    animation-name: opacity;
    animation-fill-mode: forwards;
}

#saturn_t{
    position: absolute;
    opacity: 0;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    font-size: 30px;
    letter-spacing: 5px;
    font-family: 'Roboto', sans-serif;
    color: black;
    animation-name: opacity_22;
    animation-delay: 45s;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}





#jupiter{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation-duration: 3s;
    animation-delay: 52s;
    animation-name: opacity;
    animation-fill-mode: forwards;
}

#jupiter_t{
    position: absolute;
    opacity: 0;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    font-size: 30px;
    letter-spacing: 10px;
    font-family: 'Roboto', sans-serif;
    color: black;
    animation-name: opacity_11;
    animation-delay: 54.5s;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}





#earth{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation-duration: 3s;
    animation-delay: 58s;
    animation-name: opacity;
    animation-fill-mode: forwards;
}

#earth_t{
    position: absolute;
    opacity: 0;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    font-size: 30px;
    letter-spacing: 10px;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    animation-name: opacity_11;
    animation-delay: 61s;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}





#sun{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    animation-duration: 10s;
    animation-delay: 64s;
    animation-name: opacity_s;
    animation-fill-mode: forwards;
}

#sun_t{
    position: absolute;
    opacity: 0;
    height: 30px;
    top: 50%;
    font-size: 30px;
    letter-spacing: 10px;
    font-family: 'Raleway', sans-serif;
    color: black;
    animation-name: opacity_11;
    animation-delay: 66s;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

@keyframes opacity_s {
    0%{opacity: 0;}
    30%{opacity: 1;}
    100%{opacity: 1; transform: scale(1);}
}


